<h2 class="headers"> Make a new blog post </h2>
<div id="newPost">
<%= form_with model:@blog do |form| %>
<%= form.label :title, class: "formLabel" %>
<%= form.text_field :title%>
<%= form.label :content, class: "formLabel" %>
<%= form.text_field :content, class: "formField"%>
<%= form.submit "Make new blog post" %>
<% end %>
<%= link_to 'Back to Home', blogs_path %>
</div>