<h2><%= @blog.title %></h2>

<p><%= @blog.content %></p>

<p><%= link_to "Edit This Post", edit_path%></p>
<p><%= button_to "Delete This Post", delete_post_path, method: :delete%></p>

<p><%= link_to 'Back to Home',blogs_path %></p>
