<h2 class="headers"><%= @blog.title %></h2>

<div class="posts"><%= @blog.content %></div>

<p><%= button_to "Edit This Post", edit_path, method: :get %></p>
<p><%= button_to "Delete This Post", delete_post_path, method: :delete%></p>

<p><%= link_to 'Back to Home',blogs_path %></p>
